# Python
__pycache__/
*.pyc
.venv/
venv/
.mypy_cache/
.ruff_cache/
.pytest_cache/
*.egg-info/

# Env
.env

# Real financial data — never committed
data/private/*
!data/private/.gitkeep
data/sample/*.csv

# dbt
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/
dbt_project/.user.yml

# Airflow
logs/
airflow.db
airflow-webserver.pid

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
